
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 5px;
}

button {
     padding: 5px 5px;
    background-color: blue;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color:peru;
}

#result {
    text-align: center;
    margin-top: 20px;
    color: orangered;
}

.linha {
    padding: 0svb;
    color: aqua;
}